.Chat {
    display: flex;
    position: fixed;
    top: 8vh;
    right: -280px;
    height: 92wh;
    width: 300px;
    transition: 0.5s ease-in-out;
    overflow-x: scroll;
}

.openChat {
    display: flex;
    position: fixed;
    top: 8vh;
    right: 0px;
    height: 92wh;
    width: 300px;
    transition: 0.5s ease-in-out;
    overflow-x: scroll;
}

.chatLog {
    background-color: #ffffff;
    width: 280px;
    height: 92vh;
    border: 1px solid black;
}

.chatToggle {
    width: 20px;
    height: max-content;
    align-self: flex-start;
}