.Nav {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.gameInfo {
    display: flex;
}
.userInfo {
    display: flex;
}
.disconnectGame {
    height: 3vh
}

.disconnectUser {
    height: 3vh
}

p {
    margin: 10px;
}